/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #239fa2;
}

html[data-theme='dark'] {
  --ifm-color-primary: #5fd1d6;
  --ifm-footer-background-color: #242526;
  --ifm-navbar-search-input-background-color: #DDD;
  --ifm-navbar-search-input-color: #242526;
}

html .navbar__brand img {
  margin-right: 15px;
  margin-left: 5px;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__search-input {
  outline: none;
}
.navbar__search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #888;
  opacity: 1; /* Firefox */
}
.navbar__search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #888;
}
.navbar__search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #888;
}

.required, .optional {
  margin-left: 5px;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  line-height: 20px;
  font-size: 65%;
  font-weight: 500;
  padding: 2px 1em;
}

.required {
  border-color: #fa5035;
  color: #fa5035;
}
.optional {
  border-color: #54c7ec;
  color: #54c7ec;
}

.table-of-contents .required, .table-of-contents .optional {
  color: transparent;
  border-radius: 100%;
  height: 6px;
  width: 6px;
  border-width: 3px;
  margin: 0;
  margin-right: 6px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}